.eventimage {
   width:400px;
   height:200px;
   padding-top:15px;
   float:left;
   padding-bottom: 25px;
   padding-right: 30px;
}

.description {
   width:80%;
   padding-left: 100px;
   padding-top:15px;
   padding-bottom: 20px;
}
